body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10;
}

/* Style de l'en-tête */
header {
    display: flex;
    justify-content: space-between; /* Sépare le logo des liens */
    align-items: center; /*
    Aligne les éléments verticalement au centre */
    padding: 100px 10px; /* Espace autour de l'en-tête */
    background-color: #00025e; /* Couleur de fond de l'en-tête */
    color: rgb(32, 22, 226);
    text-align: center;
    width: 100%;
}

.logo img {
    max-width: 50%; /* Ajuste la taille du logo sans le déformer */
    height: auto;
    border-radius: 10%;
    margin-left: 40%;
}

nav ul {
    list-style-type: none; /* Retirer les puces */
    display: flex; /* Alignement des éléments de la liste en ligne */
    justify-content: center; /* Centre les éléments de la liste */
    gap: 10rem; /* Espace entre les liens */
    padding: 0;
    margin: 0;
    text-align: center;
    left-margin: 5% ;
    

}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.313px 0.625rem;
}

nav a:hover {
    color: #090202; /* Changer la couleur au survol */
    background-color: #ffffff; /* Ajoute un fond légèrement gris au survol */
    border-radius: 10px; /* Arrondi les bords au survol */
}



.carousel {
    margin-top: 5%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel-images {
    display: flex;
    width: calc(100vw * 12); /* 100% par image x 3 */
    animation: slide 30s infinite linear;
}

.carousel-images img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    flex-shrink: 0;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100vw * 6));
    }
}
