body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10px;
    background-color: #00025e;
    color: white;
    width: 100%;
}

.logo img {
    max-width: 50%;
    height: auto;
    border-radius: 10%;
    margin-left: 40%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
}

nav a:hover {
    color: #090202;
    background-color: #ffffff;
    border-radius: 10px;
}

/* Images */
.image_back img {
    width: 100%;
    height: auto;
    display: block; /* Affichée par défaut */
}

.image_phone img {
    width: 100%;
    height: auto;
    display: none; /* Cachée par défaut */
}

/* Mobile */
@media (max-width: 768px) {
    .image_back img {
        display: none; /* On cache l’image PC */
    }

    .image_phone img {
        display: block; /* On montre l’image mobile */
    }
}
